.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.post{
  width: 400px;
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: rgb(98, 98, 98);
  border-radius: 10px;
}

.post__up{
  display: flex;
  align-items: center;
}

.post__up img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post__up input{
  margin: 0 0 0 10px;
  background-color: rgb(211, 211, 211);
  height: 40px;
  border-radius: 10px;
  padding: 0 0 0 15px;
  font-size: 15px;
  width: 100%;
}

.post__button{
  margin: 20px 0 10px 0;
  text-align: right;
}

.post__button button{
  padding: 8px 20px;
  background-color: hsl(222, 78%, 52%);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
}
